{% extends "dashboard/base.html" %}
{% load i18n %}
{% load mptt_tags %}
{% load materializecss %}
{% load static %}
{% load utils %}

{% block title %}
  {% trans "Scene" context "Scene detail page title" %} - {{ block.super }}
{% endblock %}

{% block body_class %}body-scenes{% endblock %}

{% block menu_content_management_header_class %}active{% endblock %}
{% block menu_scene_class %}active{% endblock %}

{% block header_menu %}
  {{ block.super }}
{% endblock %}

{% block breadcrumbs %}
  <ul class="breadcrumbs breadcrumbs--history">
    <li class="visible-s">
      <span>
        {% trans "Banners" context "Dashboard scenes list" %}
      </span>
    </li>
    <li class="back-mobile">
      <a href="{% url 'dashboard:scene-list' %}">
        <svg data-src="{% static 'dashboard/images/arrow-left.svg' %}" fill="#fff" width="20px" height="20px" ></svg>
      </a>
    </li>
    <li>
      <span class="breadcrumbs--ellipsed-item">
        {{ scene }}
      </span>
    </li>
  </ul>
{% endblock %}

{% block content %}
  <div class="row scenes">
    <div class="col s12 l9">
      <div class="card">
        <div class="card-content">
          <span class="card-title">
            {{ scene.name }}
          </span>
          <div class="row">
            <div class="col s12">
              <input id="id_default" name="default" class="filled-in green" type="checkbox" {% if scene.is_active %}checked="checked"{% endif %}>
              <label for="id_default" style="pointer-events:none;">
                {% trans "Active" context "Slider list table header is active" %}
              </label>
            </div>
          </div>
        </div>
        <div class="card-action">
          <a class="btn-flat waves-effect" href="{% url 'dashboard:scene-edit' pk=scene.pk %}">
            {% trans "Editar" context "Category detail view action" %}
          </a>
          <a href="#base-modal" class="btn-flat waves-effect modal-trigger-custom" data-href="{% url 'dashboard:scene-delete' pk=scene.pk %}">
            {% trans "Eliminar" context "Category detail view action" %}
          </a>
        </div>
      </div>
    </div>


    <div class="col s12 l9">
      <div class="card">
        <div class="card-content">
          <span class="card-title">{% trans "Spotlights" %}</span>
        </div>

        <div class="data-table-header-action">
          <a href="{% url 'dashboard:spotlight-create' scene_pk=scene.pk %}" class="btn-flat waves-effect">
            {% trans "Add" %}
          </a>
        </div>
        <div class="data-table-container">
          <table class="bordered highlight responsive data-table">
            <thead>
              <tr>
                <th>{% trans "Product" %}</th>
                <th>{% trans "X" %}</th>
                <th>{% trans "Y" %}</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              {% for spotlight in scene.spotlights.all %}
                <tr>
                  <td>
                    {{ spotlight.product }}
                  </td>
                  <td>
                    {{ spotlight.point_x }}%
                  </td>
                  <td>
                    {{ spotlight.point_y }}%
                  </td>
                  <td class="right-align">
                    <a href="{% url 'dashboard:spotlight-edit' scene_pk=scene.pk spotlight_pk=spotlight.pk %}" class="btn-flat waves-effect">
                      {% trans 'Edit' context 'Attribute value edit action' %}
                    </a>
                    <a class="btn-flat waves-effect modal-trigger-custom" href="#base-modal" data-href="{% url 'dashboard:spotlight-delete' scene_pk=scene.pk spotlight_pk=spotlight.pk  %}">
                      {% trans 'Remove' context 'Attribute value edit action' %}
                    </a>
                  </td>
                </tr>
              {% empty %}
                <tr>
                  <td colspan="2">{% trans "No has creado spotlights para este scene" context "Empty list of attribute values" %}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>

  </div>
{% endblock %}
