{% extends "dashboard/base.html" %}
{% load i18n %}
{% load materializecss %}
{% load static %}

{% block title %}
  {% if site.pk %}
   {% trans "Edit" context "Dashboard footer item list" %} - {{ site }}
  {% else %}
    {% trans "Add new footer item" context "Add new footer item page title" %}
  {% endif %}
  - {{ block.super }}
{% endblock %}

{% block body_class %}body-authorization-key{% endblock %}

{% block menu_settings_header_class %}active{% endblock %}
{% block menu_settings_class %}active{% endblock %}

{% block header_menu %}
  {% url "dashboard:site-index" as url %}
  {% include "dashboard/includes/_back_link.html" with url=url %}
{% endblock %}

{% block breadcrumbs %}
  <ul class="breadcrumbs breadcrumbs--history">
    <li>
      <a href="{% url 'dashboard:site-index' %}" class="breadcrumbs--ellipsed-item">
        {% trans "Site settings" context "Dashboard site setting detail" %}
      </a>
    </li>
    <li class="back-mobile">
      <a href="{% url 'dashboard:attributes' %}">
        <svg data-src="{% static 'dashboard/images/arrow-left.svg' %}" fill="#fff" width="20px" height="20px" ></svg>
      </a>
    </li>
    {% if footer_item.pk %}
      <li>
        <span class="breadcrumbs--ellipsed-item">
          {% trans "Edit" context "Bank account breadcrumbs" %}
        </span>
      </li>
    {% else %}
      <li>
        <span class="breadcrumbs--ellipsed-item">
          {% trans "Add new footer item" context "Bank account breadcrumbs" %}
        </span>
      </li>
    {% endif %}
  </ul>
{% endblock %}

{% block menu_catalogue_class %} active{% endblock %}

{% block content %}
  <div class="row">
    <div class="col s12 l9">
      <div class="card">
        <form method="post" enctype="multipart/form-data" id="form-attributes" novalidate>
          {% csrf_token %}
          {{ form.site_settings }}

          <div class="card-content">
            <span class="card-title">
              {% trans "Menú al pie de página" context "Bank account form title" %}
            </span>

            {% if form.non_field_errors %}
              <blockquote class="error">
                {% for non_field_error in form.non_field_errors %}
                  {{ non_field_error }}
                {% endfor %}
              </blockquote>
            {% endif %}

            <div class="row">
              {{ form.menu|materializecss }}
            </div>
          </div>
          <div class="card-action right-align">
            <a href="{% url 'dashboard:site-details' pk=site_settings_pk %}" class="btn-flat waves-effect">
              {% trans "Cancel" context "Dashboard cancel action" %}
            </a>
            {% if footer_item.pk %}
              <button type="submit" class="btn waves-effect">
                {% trans "Save" context "Dashboard update action" %}
              </button>
            {% else %}
              <button type="submit" class="btn waves-effect">
                {% trans "Create" context "Dashboard create action" %}
              </button>
            {% endif %}
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
