{% extends "dashboard/base.html" %}
{% load i18n %}
{% load mptt_tags %}
{% load materializecss %}
{% load static %}
{% load utils %}

{% block title %}
  {% trans "Sliders" context "Category list page title" %} - {{ block.super }}
{% endblock %}

{% block body_class %}body-slider{% endblock %}

{% block menu_content_management_header_class %}active{% endblock %}
{% block menu_slider_class %}active{% endblock %}

{% block header_extra %}
  <div class="btn-fab-fixed">
    <a
      href="{% url 'dashboard:slider-add' %}"
      class="btn-fab-default waves-effect waves-light"
      title="{% trans 'Add slider' context 'Slider list add button text' %}">
      <svg data-src="{% static 'dashboard/images/add.svg' %}"></svg>
    </a>
  </div>
{% endblock %}

{% block breadcrumbs %}
  <ul class="breadcrumbs breadcrumbs--history">
    <li class="visible-s">
      <span>
        {% trans "Sliders" context "Dashboard sliders list" %}
      </span>
    </li>
  </ul>
{% endblock %}

{% block content %}
  <div class="stripes row">
    <div class="col s12 l9">
      {% if sliders %}
        <div class="card">
          <div class="data-table-container">
            <table class="bordered highlight responsive data-table data-table-description">
              <thead>
                <tr>
                  {% trans "Name" context "Slider list table header name" as label %}
                  {% sorting_header 'name' label is_wide=True %}

                  {% trans "Type" context "Slider list table header type" as label %}
                  {% sorting_header 'type' label %}

                  <th>
                    {% trans "Active" context "Slider list table header is active" %}
                  </th>
                  <th>
                    {% trans "Default" context "Slider list table header is active" %}
                  </th>
                </tr>
              </thead>
              <tbody>
                {% for slider in sliders %}
                <tr data-action-go="{% url 'dashboard:slider-details' pk=slider.pk %}">
                    <td>
                      {{ slider.name }}
                    </td>
                    <td>
                      {{ slider.type }}
                    </td>
                    <td class="nowrap" style="pointer-events:none;">
                      <input id="id_{{slider.pk}}_active" name="active" class="filled-in green" type="checkbox" {% if slider.is_active %}checked="checked"{% endif %}>
                      <label for="id_{{slider.pk}}_active"></label>
                    </td>
                    <td class="nowrap" style="pointer-events:none;">
                      <input id="id_{{slider.pk}}_default" name="active" class="filled-in green" type="checkbox" {% if slider.is_default %}checked="checked"{% endif %}>
                      <label for="id_{{slider.pk}}_default"></label>
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
        {% paginate stripes %}
      {% else %}
        {% if is_empty %}
          {% include './zero_page.html' %}
        {% else %}
          <div class="col s12">
            <div class="not-found">
              <p class="grey-text">
                {% trans "No sliders found" context "Empty sliders table message" %}
              </p>
            </div>
          </div>
        {% endif %}
      {% endif %}
    </div>
    {% if not is_empty %}
    <div class="col s12 l3" id="filters">
      {% filters filter_set %}
    </div>
    {% endif %}
  </div>
{% endblock %}
